html {
    background-color: black;
    /*border: 3px solid black;*/
    width: 100%;
    font-family: Trebuchet MS, sans-serif;
}

body {
    margin: 0px;
    display: flex;
    align-items: stretch;
    /*border: 3px solid yellow;*/
    height: 100%;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside {
    /*border: 3px solid purple;*/
    background-color: rgb(180, 180, 180);
    color: black;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    /*border: 3px solid green;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

li {
    margin: 10px 0px;
    text-align: center;
    /*border: 3px solid blue;*/
    padding: 0px 25%;
    letter-spacing: 1px;
}

main {
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-left: 150px;
    /*border: 3px solid green;*/
    width: 100%;
    padding: 0% 10%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.faq-container {
    width: 90%;
    max-width: 600px;
    background-color: purple;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.faq-item {
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3:hover {
    text-decoration: underline;
    color: black;
}

.faq-question h3 {
    font-size: 18px;
    color: black;
}

.faq-question .icon {
    font-size: 24px;
    color: black;
    transition: transform 0.3s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    font-size: 16px;
    color: black;
    padding: 10px 0;
    text-align: justify;
}

.faq-item.active .faq-answer {
    max-height: 150px;
}

.faq-item.active .faq-question .icon {
    transform: rotate(45deg);
}

.contact-form {
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: purple;
}

.contact-form label {
    text-align: left;
    font-size: 16px;
    color: purple;
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid purple;
    border-radius: 30px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: purple;
    color: black;
    border: solid purple;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.contact-form button:hover {
    text-decoration: underline;
    background-color: rgb(145, 0, 145);
    border: 3px solid rgb(145, 0, 145);
}

input::placeholder,
textarea::placeholder {
    text-align: left;
    vertical-align: top;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.temas {
    position: fixed;
    /* Fixa o elemento na tela */
    top: 10px;
    /* Distância do topo */
    right: 10px;
    /* Distância da direita */
    z-index: 999;
    /* Garante que o switch fique acima de outros elementos */
}

/* Modo claro - Aplicado a todos os descendentes do body com a classe .white */
body.white {
    background-color: #ffffff;
    color: #000;
    /* Texto em preto */
}

/* Ajustando elementos específicos no modo claro */
body.white main,
body.white #validade {
    background-color: #ffffff;
    /* Fundo branco */
    color: #000;
    /* Texto preto */
}

/* Links no modo claro */
body.white a {
    color: #000;
}

body.white a:hover {
    color: blue;
}

body.white .ball {
    background-color: black;
}

/* Outras transições */
body,
main,
th,
button {
    transition: background-color 0.3s linear, color 0.3s linear;
}

/* Estilo da bolinha */
.label {
    background-color: purple;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    /* Torna o container relativo para o movimento da bolinha */
    width: 50px;
    height: 26px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox {
    display: none;
    /* Esconde o checkbox */
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 22px;
    width: 22px;
    transition: transform 0.3s ease-in-out, color 0.3s linear;
    /* Transição suave */
}

/* Quando o checkbox estiver marcado */
.checkbox:checked+.ball {
    transform: translateX(26px);
    /* Move a bolinha para a direita */
}