<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajuda.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png" />
  </head>

  <body>
    <aside>
      <ul>
        <li>
          <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/home.png') }}" width="40px" height="40px" /><br />Comodos</a>
        </li>
        <li>
          <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='img/lupa.png') }}" width="40px" height="40px" /><br />Procurar</a>
        </li>
        <li>
          <a href="{{ url_for('list') }}"><img src="{{ url_for('static', filename='img/carrinho.png') }}" width="40px" height="40px" /><br />Lista de compras</a>
        </li>
        <li>
          <a href="{{ url_for('account') }}"><img src="{{ url_for('static', filename='img/perfil.png') }}" width="40px" height="40px" /><br />Conta</a>
        </li>
        <li>
          <a href="{{ url_for('help') }}"><img src="{{ url_for('static', filename='img/ajuda.png') }}" width="40px" height="40px" /><br />Ajuda</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/sair.png') }}" width="40px" height="40px" /><br />Sair</a>
        </li>
        <li>
          <label class="label" for="chk">
            <input type="checkbox" class="checkbox" id="chk" />
            <div class="ball"></div>
          </label>
          Alternar Modo
        </li>
      </ul>
    </aside>

    <main>
      <div class="container">
        <!-- Logo -->
        <img id="imagem" src="{{ url_for('static', filename='img/larlocker.png') }}" class="logo" width="60%" /><br />

        <!-- FAQ Container -->
        <div class="faq-container">
          <h1>FAQ - Perguntas Frequentes</h1>

          <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
              <h3>Quem somos?</h3>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>Nossa equipe de desenvolvedores conta com 4 alunos graduandos do curso de ciência de dados e inteligência artificial da PUC Campinas: Edson Eduardo, Gabriel Chiezo, Victor Furumoto e Yan Yoshida.</p>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
              <h3>Qual o objetivo deste site?</h3>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>O Larlocker é um site que tem como objetivo auxiliar indivíduos na organização eficiente de seus pertences, promovendo um impacto significativo nas áreas de saúde e bem-estar, inovação tecnológica e sustentabilidade, além de colaborar para evitar o desperdício de alimentos. Bem como facilitar as idas ao mercado com uma lista de compras dinâmica.</p>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
              <h3>O que é o sistema de alerta?</h3>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>O sistema enviará alertas assim que alimentos cadastrados estiverem próximos ao vencimento (7 dias), destacando o produto e o cômodo em que o mesmo se encontra.</p>
            </div>
          </div>


        </div>
      </div>
      <script src="{{ url_for('static', filename='js/ajuda.js') }}"></script>
    </main>
  </body>
</html>
