<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_inicio.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="icon" href="{{ url_for('static', filename='img/img_comodo/logo.png') }}" type="image/png" />
  </head>

  <body>
    <main>
      <img src="{{ url_for('static', filename='img/img_comodo/larlocker.png') }}" width="60%" /><br />
    </main>
    <aside>
      <a href="{{ url_for('login') }}">Entrar</a>
      <a href="{{ url_for('cadastro') }}">Cadastrar-se</a>
    </aside>
    <footer>Todos os direito reservados © 2024</footer>
  </body>
</html>
