<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_lista.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de compras</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png" />
  </head>

  <body>
    <aside>
      <ul>
        <li>
          <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/home.png') }}" width="40px" height="40px" /><br />Comodos</a>
        </li>
        <li>
          <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='img/lupa.png') }}" width="40px" height="40px" /><br />Procurar</a>
        </li>
        <li>
          <a href="{{ url_for('list') }}"><img src="{{ url_for('static', filename='img/carrinho.png') }}" width="40px" height="40px" /><br />Lista de compras</a>
        </li>
        <li>
          <a href="#"><img src="{{ url_for('static', filename='img/tema.png') }}" width="40px" height="40px" /><br />Modo claro</a>
        </li>
        <li>
          <a href="{{ url_for('account') }}"><img src="{{ url_for('static', filename='img/perfil.png') }}" width="40px" height="40px" /><br />Conta</a>
        </li>
        <li>
          <a href="{{ url_for('help') }}"><img src="{{ url_for('static', filename='img/ajuda.png') }}" width="40px" height="40px" /><br />Ajuda</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/sair.png') }}" width="40px" height="40px" /><br />Sair</a>
        </li>
      </ul>
    </aside>

    <main>
        <img src="{{ url_for('static', filename='img/larlocker.png') }}" width="60%"><br>
        <h1 id="comodoTitle"></h1>
        <table id="itemTable">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <!-- Linhas serão adicionadas dinamicamente aqui -->
            </tbody>
        </table>
        <br>
        <button onclick="showAddItemForm()">Adicionar Novo Item</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cancelAddItem()">&times;</span>
                <h2>Adicionar Novo Item</h2>
                <input type="text" id="nomeProduto" placeholder="Nome do produto" required>
                <input type="number" id="quantidadeProduto" placeholder="Quantidade" min="0" required>
                <br><br>
                <button onclick="submitNewItem()">Adicionar</button>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script_lista.js') }}"></script>
</body>

</html>