<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pesquisa.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisa</title>
    <link rel="icon" href="{{ url_for('static', filename='img/img_comodo/logo.png') }}" type="image/png" />
  </head>

  <body>
    <aside>
      <ul>
        <li>
          <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/img_comodo/home.png') }}" width="40px" height="40px" /><br />Comodos</a>
        </li>
        <li>
          <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='img/img_comodo/lupa.png') }}" width="40px" height="40px" /><br />Procurar</a>
        </li>
        <li>
          <a href="#"><img src="{{ url_for('static', filename='img/img_comodo/carrinho.png') }}" width="40px" height="40px" /><br />Lista de compras</a>
        </li>
        <li>
          <a href="#"><img src="{{ url_for('static', filename='img/img_comodo/tema.png') }}" width="40px" height="40px" /><br />Modo claro</a>
        </li>
        <li>
          <a href="{{ url_for('account') }}"><img src="{{ url_for('static', filename='img/img_comodo/perfil.png') }}" width="40px" height="40px" /><br />Conta</a>
        </li>
        <li>
          <a href="{{url_for('help')}}"><img src="{{ url_for('static', filename='img/img_comodo/ajuda.png') }}" width="40px" height="40px" /><br />Ajuda</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/img_comodo/sair.png') }}" width="40px" height="40px" /><br />Sair</a>
        </li>
      </ul>
    </aside>
    <main>
      <img src="{{ url_for('static', filename='img/img_comodo/larlocker.png') }}" width="60%" /><br />
      <h1>Procurar</h1>
      <!-- Popup de alerta -->
      <div id="alertPopup" class="popup" style="display: none;">
        <div class="popup-content">
          <p>Nenhum resultado encontrado</p>
          <button onclick="closePopup()">Fechar</button>
        </div>
      </div>

      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Pesquisar..." />
        <button id="searchButton"><img src="{{ url_for('static', filename='img/img_comodo/lupa.png') }}" alt="Search Icon" width="30px" height="30px" /></button>
      </div>

      <div id="searchResults"></div> <!-- A div onde os resultados serão mostrados -->

      <div class="recent-section">
        <h2>Buscas Recentes</h2>
        <!-- Os itens de busca recente serão adicionados aqui -->
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/script_pesquisa.js') }}"></script>
  </body>
</html>
