<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha - Larlocker</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png" />
  </head>
  <body>
    <img src="{{ url_for('static', filename='img/larlocker.png') }}" alt="Logo" />
    <h2>Recuperar Senha</h2>
    <form action="#" method="post">
      <label>Email cadastrado:</label>
      <input type="email" placeholder="Digite seu email" required />
      <br /><br />
      <button id="enviar" type="submit" value="Enviar link de recuperação">Enviar link de recuperação</button>
      <br /><a href="{{ url_for('login') }}">Voltar para Login</a>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
